.container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}

.column {
  width: 30%;
  padding: 20px;
}

.mystyle1 {
  border-right: 4px solid green;
}

.st2 {
  border-right: 4px solid green;
}

